/* Author: Nathan Adams */
/* For setting the background and *all* text in any linked HTML Document. */
:root {
  color: #b3b6aa;
  hyphens: auto;
  text-align: center;
  /* background-color: #353d42; */
  background: linear-gradient(20deg, #353d42, #2b2e33, #353d42);
}

::selection {
  color: #dbdbdb;
  background-color: #486b63;
}

/* for firefox */
::-moz-selection {
  color: #dbdbdb;
  background-color: #486b63;
}

/* ==== Sectioned Content and Text Content Styling ==== */
/* section headers */
/* h1, h2, h3, h4, h5, h6 { font-family: "Nova Cut"; } */
h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2";
  text-shadow: 0 0 4px #28a9e0;
}

/* divs */
div {
  border: solid 1px #085f77;
  display: inline-block;
  margin: auto;
  max-width: 50%;
  height: auto;
  justify-content: center;
}

/* asides */
aside {
  text-align: right;
  font-family: "Nova Cut", serif;
  /* font-size: 0.85em; */
}

/* footers and document header */
footer, header { font-family: "Anonymous Pro", monospace; }

/* dl (description list) and dd (description details) */
dl { font-family: "Forum", serif; }
dd { font-size: 0.8em; }

/* horizontal rule element */
hr {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-left: auto;
  margin-right: auto;
  border: 3px double #085f77;
}

/* unordered list items and ordered list items */
ul { list-style-type: square;}
ul li, ol li { font-family: "Forum", serif; }

/* paragraphs */
p { font-family: "Open Sans", helvetica, sans-serif; }

/* blockquotes */
blockquote {
  font-family: "Open Sans", sans-serif;
  border-left: 5px solid #16425b;
  display: inline-block;
  padding-left: 7px;
}

/* map elements */
map { font-family: "Nova Cut", sans-serif; }

/* figures and figcaptions */
figure { border: 2px solid #f60000; width: auto; }
figcaption { font: 15pt "Forum"; }
/* ==== End of Sectioned Content and Text Content Styling ==== */

/* ==== Inline Text Semantic Stylings ==== */
/* anchors unvisited and visited */
a:link {
  font-family: "Anonymous Pro", monospace;
  color: #f60000;
}

a:visited {
  font-family: "Anonymous Pro", monospace;
  color: #801515;
}

/* hrefs unvisited and visited */
[href]:link {
  font-family: "Anonymous Pro", monospace;
  color: #6bad1f;
}

[href]:visited {
  font-family: "Anonymous Pro", monospace;
  color: #486b63;
}

/* displaying bits of code */
code {
  font-family: "Anonymous Pro", monospace;
  color: #e5e5e5;
  background-color: #2b2e33;
}

/* keyboard input displays */
kbd {
  color: #000000;
  background-color: #ffffff;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  padding: 1px 2px 0;
}

/* short quotes */
q { font-family: "Forum", sans-serif; }

/* time elements */
time { font: 1em "Exo 2"; }

/* marked elements */
mark {
  color: #cccfd1;
  background-color: #16425b;
}

/* spans */
span {
  display: flex;
  text-align: center;
  justify-content: center;
}
/* ==== End of Inline Text Semantic Stylings ==== */

/* ==== Media Content ==== */
/* img elements */
img { border: 3px groove #29698e; }

/* video elements */
video { border: none; }
/* ==== End of Media Content ==== */

/* ==== Script Based Content ==== */
/* canvas elements */
canvas { border: 4px hidden; }

/* noscript elements */
noscript { font: 1em "Exo 2" }
/* ==== End of Script Based Content ==== */

/* ==== Table Content ==== */
/* main table element */
table {
  margin: auto;
  border-collapse: collapse;
  table-layout: auto;
  font-family: "Open Sans", sans-serif;
  border: 3px solid #0e3b4f;
}

/* table data */
thead, tbody, tfoot, td, th {
  padding: 3px;
  color: #353d42;
  border: 3px solid #0e3b4f;
}

table th { font-family: "Nova Cut", sans-serif; }

/* table rows with alternating colors */
table tr:nth-child(odd) { background-color: #c4c4c4; }
table tr:nth-child(even) { background-color: #dbdbdb; }

/* table caprion */
table caption {
  color: #e5e5e5;
  font-family: "Forum", serif;
}
/* ==== End of Table Content ==== */

/* ==== Forms and Inputs ==== */
/* actual forms */
form {
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: flex-start;
}

/* for labels */
label { font-family: "Forum", sans-serif; }

/* fieldset elements */
fieldset {
  width: 50%;
  border: 2px double #085f77;
  justify-content: center;
  text-align: center;
}

/* legend elemnts */
legend {
  text-align: left;
  font-family: "Nova Cut", sans-serif;
}

/* button elements */
button {
  font: 1em "Anonymous Pro", monospace;
  color: #cccfd1;
  background-color: #075470;
  border-radius: 4px;
  border: 2px solid #77777f;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; /* for Safari browsers */
}

button:hover {
  color: #e5e5e5;
  background-color: #4d6e7f;
}

/* general inputs */
input {
  font: 1em "Anonymous Pro", monospace;
  border: 3px groove 77777f;
}

input:valid { border-color: #6bad1f; }
input:invalid { color: #f60000; }
input:required { border-color: #16425b;}

/* inputs via attributes (not all input types are used, however) */
[type=text] {
  padding: 3px;
  border: 3px groove #77777f;
  background-color: #dbdbdb;
}

[type=text]:focus { color: #2b2e33; background-color: #cccfd1; }

[type=number] {
  padding: 3px;
  background-color: #eeeeee;
}

[type=number]:focus { color: #2b2e33; background-color: #cccfd1; }

[type=button] {
  padding: 3px;
  color: #cccfd1;
  background-color: #075470;
  border-radius: 4px;
  border: 2px solid #77777f;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; /* for Safari browsers */
}

[type=button]:hover {
  padding: 4px;
  color: #e5e5e5;
  background-color: #4d6e7f;
}

[type=submit] {
  padding: 3px;
  color: #cccfd1;
  background-color: #075470;
  border-radius: 4px;
  border: 2px solid #77777f;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; /* for Safari browsers */
}

[type=submit]:hover {
  color: #e5e5e5;
  background-color: #4d6e7f;
  padding: 4px;
}

[type=color] {
  border-radius: 5px;
  border: 3px ridge #f60000;
  background-color: #2b2e33;
}

textarea {
  border: 3px groove #77777f;
  background-color: #e5e5e5;
}
/* ==== End of Forms and Inputs ==== */

/* ==== Navigation Bars ==== */
/* nav { font-family: "Nova Cut", sans-serif; } */

nav ul li {
  color: #00bafe;
  text-align: left;
  list-style-type: none;
  font-family: "Nova Cut", sans-serif;
}
